body, html {
  height: 100%;
  margin: 0;
}

.title-container {
  position:relative;
}

.bg, .title-bg {
  background-image: url("../Images/titlebar.jpg");
  /* height: 100%; */
  background-repeat:no-repeat;
  background-size: cover;
}

.bg {
  background-position:center top;
  padding-top: 250px;
  padding-bottom: 250px;
}

.title-bg {
  position:absolute;
  top: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 98;

  background-position: center -200px;
  -webkit-filter: blur(10px);
  filter: url('/media/blur.svg#blur');
  filter: blur(5px);
}

.title {
  z-index: 99;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgb(34, 34, 34);
  background: rgba(34, 34, 34, 0.50);
  text-align: center;
  position:relative;
  /*this line was the problem for stacking opacity stuff^ */
}

.header {
  color: white;
}
